<div style="padding-bottom: 20px;">
    <h2>Add a studio.</h2>
</div>
<div class="border border-dark rounded w-50" style="padding: 10px; font-size: 20px;">
    <form action="/Studios/Add" method="post">
        <div>
            <label>StudioType:</label>
            <br />
            <select name="studioType">
                <option value="@BestyAlbums.Data.Models.Enums.StudioType.MovieStudio">Movie Studio</option>
                <option value="@BestyAlbums.Data.Models.Enums.StudioType.RadioStudio">Radio Studio</option>
                <option value="@BestyAlbums.Data.Models.Enums.StudioType.RecordingStudio">Recording Studio</option>
                <option value="@BestyAlbums.Data.Models.Enums.StudioType.TelevisionStudio">Television Studio</option>
            </select>
        </div>
        <div>
            <label for="founded">Founded:</label>
            <br />
            <input type="date" name="founded" id="founded" />
        </div>
        <div>
            <label for="discontinued">Discontinued:</label>
            <br />
            <input type="date" name="discontinued" id="discontinued" />
        </div>
        <div>
            <label for="headquarters">Headquarters:</label>
            <br />
            <input type="text" name="headquarters" id="headquarters" />
        </div>
        <div>
            <label for="websiteUrl">WebsiteURL:</label>
            <br />
            <input type="text" name="websiteUrl" id="websiteUrl" />
        </div>
        <div style="padding-top: 10px; text-align: right;">
            <button>Submit</button>
        </div>
    </form>
</div>