<div>
    <div class="container-home">
        <p class="h1 bg-dark text-white rounded">BestyAlbums</p>
    </div>
    <div class="container-main">
        <p class="h2 bg-dark text-white rounded">
            Add your favourite <span class="highlight-color-lightblue">albums</span> along with their respected <span class="highlight-color-lightgreen">artists</span> <span class="highlight-color-lightpink">conveniently!</span>
        </p>
    </div>
</div>