<div>
    <div style="margin: auto; text-align: center; width: 50%;">
        <p class="h1 bg-dark text-white rounded" style="height: 60px;">BestyAlbums</p>
    </div>
    <div style="position: absolute; margin: auto; text-align: center; width: 75%; padding-top: 20px;">
        <p class="h2 bg-dark text-white rounded" style="height: 80px;">
            Add your favourite <span style="color: #40a9ff;">albums</span> or <span style="color: greenyellow;">singles</span> along with their respected artists <span style="color: #ff3686;">conveniently!</span>
        </p>
    </div>
    <div style="font-size: 20px; margin: auto; text-align: center; width: 50%; padding-top: 150px;">
        <p class="h2" style="padding-bottom: 30px; text-align: center;">Steps:</p>
        <ul style="list-style-type: none;">
            <li>Add a Member.</li>
            <li>Add an Artist with its members.</li>
            <li>Add a Studio.</li>
            <li>Add an Album with its artist.</li>
            <li>Add a Song to an existent album.</li>
            <li>Or a Single.</li>
        </ul>
    </div>
</div>