<head>
</head>
<div>
    <div style="margin: auto; text-align: center; width: 50%;">
        <p class="h1 bg-dark text-white rounded" style="height: 60px;">BestyAlbums</p>
    </div>
    <div style="position: absolute; margin: auto; text-align: center; width: 75%; padding-top: 20px;">
        <p class="h2 bg-dark text-white rounded" style="height: 80px;">
            Add your favourite <span style="color: #40a9ff;">albums</span> or <span style="color: greenyellow;">singles</span> along with their respected artists <span style="color: #ff3686;">conveniently!</span>
        </p>
    </div>
    <div style="font-size: 20px; margin: auto; text-align: center; width: 50%; padding-top: 150px;">
        <ul style="list-style-type: none;">
            <li>Add an artist</li>
            <li>Add member/s to the corresponding artist.</li>
            <li>Add a studio.</li>
            <li>Add an album with its artist and recording studio.</li>
            <li>Add a song to that album or a single.</li>
        </ul>
    </div>
</div>