<div>
    <div class="homeTitleDiv">
        <p class="h1 bg-dark text-white rounded">BestyAlbums</p>
    </div>
    <div class="homeMainDiv">
        <p class="h2 bg-dark text-white rounded">
            Add your favourite <span class="albumsText">albums</span> or <span class="singlesText">singles</span> along with their respected <span class="artistsText">artists</span> <span class="convenientlyText">conveniently!</span>
        </p>
    </div>
</div>