@model IList<AlbumsHomeViewModel>

<div>
    <div class="container-home">
        <p class="h1 bg-dark text-white rounded">BestyAlbums</p>
    </div>
    <div class="container-main">
        <p class="h2 bg-dark text-white rounded">
            Add your favourite <span class="highlight-color-lightblue">albums</span> along with their respected <span class="highlight-color-lightgreen">artists</span> <span class="highlight-color-lightpink">conveniently!</span>
        </p>
    </div>
    <div class="container-latest-ablums-main">
        <p>Latest albums</p>

        <div class="container-albums">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="container-album">
                    <img src="@Model[i].CoverUrl" alt="Album Cover" />
                    <p>@Model[i].Name - @Model[i].Artist</p>
                </div>
            }
            <a href="/Albums/All">
            <div class="center-con">
                <div class="round">
                    <div id="cta">
                        <span class="arrow primera next "></span>
                        <span class="arrow segunda next "></span>
                    </div>
                </div>
            </div>
            </a >
        </div>
    </div>
</div>