@model IList<string>

<h2>Add a member to an artist.</h2>
<div class="standardDiv">
    <form asp-controller="Members" asp-action="Add" method="post">
        <div class="form-group">
            <label for="firstName">First name</label>
            <input class="form-control" id="firstName" type="text" name="firstName" />
        </div>
        <div class="form-group">
            <label for="lastName">Last name</label>
            <input class="form-control" id="lastName" type="text" name="lastName" />
        </div>
        <div class="form-group">
            <label for="birthdate">Birthdate</label>
            <input class="form-control" id="birthdate" type="date" name="birthdate" />
        </div>
        <div class="form-group">
            <label for="joined">Joined</label>
            <input class="form-control" id="joined" type="date" name="joined" />
        </div>
        <div class="form-group">
            <label for="left">Left</label>
            <input class="form-control" id="left" type="date" name="left" />
        </div>
        <div class="form-group">
            <label>Gender</label>
            <select class="form-select rounded">
                <option value="@BestyAlbums.Data.Models.Enums.Gender.Male">Male</option>
                <option value="@BestyAlbums.Data.Models.Enums.Gender.Female">Female</option>
            </select>
        </div>
        <div class="form-group">
            <label for="imageUrl">ImageUrl</label>
            <input class="form-control" id="imageUrl" type="text" name="imageUrl" />
        </div>
        <div class="form-group">
            <label>Artist</label>
            <select class="form-select rounded" name="artist">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <option value="@Model[i]">@Model[i]</option>
                }
            </select>
        </div>
        <div class="submitDiv">
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
    </form>
</div>