@model IList<string>

<div style="padding-bottom: 20px;">
    <h2>Add a member to an artist.</h2>
</div>
<div class="border border-dark rounded w-50" style="padding: 10px; font-size: 20px;">
    <form action="/Members/Add" method="post">
        <div>
            <label for="firstName">First Name:</label>
            <br />
            <input type="text" name="firstName" id="firstName" />
        </div>
        <div>
            <label for="lastName">Last Name:</label>
            <br />
            <input type="text" name="lastName" id="lastName" />
        </div>
        <div>
            <label for="birthdate">Birth Date:</label>
            <br />
            <input type="date" name="birthdate" id="birthdate" />
        </div>
        <div>
            <label for="joined">Joined:</label>
            <br />
            <input type="date" name="joined" id="joined" />
        </div>
        <div>
            <label for="left">Left:</label>
            <br />
            <input type="date" name="left" id="left" />
        </div>
        <div>
            <label>Gender:</label>
            <br />
            <select>
                <option value="@BestyAlbums.Data.Models.Enums.Gender.Male">Male</option>
                <option value="@BestyAlbums.Data.Models.Enums.Gender.Female">Female</option>
            </select>
        </div>
        <div>
            <label for="imageUrl">ImageUrl:</label>
            <br />
            <input type="text" name="imageUrl" id="imageUrl" />
        </div>
        <div>
            <label>Artist:</label>
            <br />
            <select name="artist">
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                        <option value="@Model[i]">@Model[i]</option>
                    }
            </select>
        </div>

        <div style="padding-top: 10px; text-align: right;">
            <button>Submit</button>
        </div>
    </form>
</div>