@model EditMemberFormModel

<div class="container-standard">
    <form asp-controller="Members" asp-action="Edit" method="post">
        <input asp-for="Id" type="hidden" />

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Joined"></label>
            <input asp-for="Joined" class="form-control" />
            <span asp-validation-for="Joined" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Left"></label>
            <input asp-for="Left" class="form-control" />
            <span asp-validation-for="Left" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gender"></label>
            <select asp-for="Gender"
                    asp-items="Html.GetEnumSelectList<BestyAlbums.Data.Models.Enums.Gender>()"
                    class="form-select rounded text-dark">
            </select>
            <span asp-validation-for="Gender" class="small text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="small text-danger"></span>
        </div>

        <div class="container-submit">
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
    </form>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}