<div style="padding-bottom: 20px;">
    <h2>Add an album.</h2>
</div>
<div class="border border-dark rounded w-50" style="padding: 10px; font-size: 20px;">
    <form action="/Albums/Add" method="post">
        <div>

        </div>
        <div style="padding-top: 10px; text-align: right;">
            <button>Submit</button>
        </div>
    </form>
</div>