@model IList<string>

<h2>Add an album.</h2>
<div class="standardDiv">
    <form asp-controller="Albums" asp-action="Add" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" type="text" name="name" />
        </div>
        <div class="form-group">
            <label for="released">Released</label>
            <input class="form-control" id="released" type="date" name="released" />
        </div>
        <div class="form-group">
            <label>Genre</label>
            <select asp-items="Html.GetEnumSelectList<BestyAlbums.Data.Models.Enums.Genre>()" name="genre" class="form-select rounded">
            </select>
        </div>
        <div class="form-group">
            <label for="coverUrl">CoverUrl</label>
            <input class="form-control" id="coverUrl" type="text" name="coverUrl" />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input class="form-control" id="price" type="number" step="0.01" name="price" />
        </div>
        <div class="form-group">
            <label>Status</label>
            <select asp-items="Html.GetEnumSelectList<BestyAlbums.Data.Models.Enums.AlbumStatus>()" name="albumStatus" class="form-select rounded">
            </select>
        </div>
        <div class="form-group">
            <label>Artist</label>
            <select class="form-select rounded" name="artist">
                @for (int i = 0; i < Model.Count; i++)
                {
                    <option value="@Model[i]">@Model[i]</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>StudioType</label>
            <select asp-items="Html.GetEnumSelectList<BestyAlbums.Data.Models.Enums.StudioType>()" name="studioType" class="form-select rounded">
            </select>
        </div>
        <div class="form-group">
            <label for="label">Label</label>
            <input class="form-control" id="label" type="text" name="label" />
        </div>
        <div class="form-group">
            <label for="productionTimeInDays">Production days time</label>
            <input class="form-control" id="productionTimeInDays" type="number" name="productionTimeInDays" />
        </div>
        <div class="submitDiv">
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
    </form>
</div>