<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BestyAlbums</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/navbar.css">
</head>
<body>
    <header>
        <nav class="container-navbar">
            <a class="navbar-title" asp-area="" asp-controller="Home" asp-action="Index">BestyAlbums</a>
            <ul class="container-navbar-menu">
                <li>
                    <a asp-area="" asp-controller="Artists" asp-action="All">Artists</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Members" asp-action="All">Members</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Albums" asp-action="All">Albums</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Songs" asp-action="All">Songs</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark footer text-white text-center p-2">
        <div class="container h6 text-center">
            &copy; BestyAlbums is a property of <a class="author" href="https://github.com/enrilos/BestyAlbums">github/enrilos</a>. All rights reserved.
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
