<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BestyAlbums</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">BestyAlbums</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item border rounded" style="margin: 0 10px 0 0;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Artists" asp-action="Add">Add Artist</a>
                        </li>

                        <li class="nav-item border rounded" style="margin: 0 10px 0 0;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Members" asp-action="Add">Add Member</a>
                        </li>

                        <li class="nav-item border rounded" style="margin: 0 10px 0 0;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Studios" asp-action="Add">Add Studio</a>
                        </li>

                        <li class="nav-item border rounded" style="margin: 0 10px 0 0;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Albums" asp-action="Add">Add Ablum</a>
                        </li>

                        <li class="nav-item border rounded" style="margin: 0 10px 0 0;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Songs" asp-action="Add">Add Song</a>
                        </li>

                        <li class="nav-item border rounded" style="margin: 0 10px 0 0;">
                            <a class="nav-link text-white" asp-area="" asp-controller="Singles" asp-action="Add">Add Single</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom">
        <div class="container h6" style="text-align: center;">
            &copy; 2021 - BestyAlbums is a property of <a href="https://github.com/enrilos/BestyAlbums">github/enrilos</a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
