<div style="padding-bottom: 20px;">
    <h2>Add your favourite artist here!</h2>
</div>
<div class="border border-dark rounded w-50" style="padding: 10px; font-size: 20px;">
    <form action="/Artists/Add" method="post">
        <div>
            <label for="artistName">Name:</label>
            <br />
            <input type="text" name="name" id="artistName" />
        </div>
        <div>
            <label for="artistFounded">Founded:</label>
            <br />
            <input type="date" name="founded" id="artistFounded" />
        </div>
        <div>
            <label for="artistLocation">Location:</label>
            <br />
            <input type="text" name="location" id="artistLocation" />
        </div>
        <div>
            <label for="artistRating">Rating:</label>
            <br />
            <input type="number" step="0.01" name="rating" id="artistRating" />
        </div>
        <div style="padding-top: 10px; text-align: right;">
            <button>Submit</button>
        </div>
    </form>
</div>