<form action="/" method="post">
    <div>
        <label for="founded">Founded</label>
        <input type="text" name="founded" id="founded" />
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="location" id="location" />
    </div>
    <div>
        <label for="rating">Rating</label>
        <input type="text" name="rating" id="rating" />
    </div>
</form>