<h2>Add your favourite artist here!</h2>
<div class="formDiv">
    <form action="/Artists/Add" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" type="text" name="name" />
        </div>
        <div class="form-group">
            <label for="founded">Founded</label>
            <input class="form-control" id="founded" type="date" name="founded" />
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <input class="form-control" id="location" type="text" name="location" />
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <input class="form-control" id="rating" type="number" step="0.1" name="rating" />
        </div>
        <div class="form-group">
            <label for="imageUrl">ImageUrl</label>
            <input class="form-control" id="imageUrl" type="text" name="imageUrl" />
        </div>
        <div class="submitDiv">
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
    </form>
</div>