@model IList<ArtistAllViewModel>

<div class="topCenterBtnLink text-center mx-auto">
    <a class="btn btn-primary btn-lg btn-block rounded" href="/Artists/Add">Add artist</a>
</div>
<div class="border">
    <table class="text-center mx-auto">
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td class="border">
                    <img class="listingImageSize" src="@Model[i].ImageUrl" alt="Artist image" />
                    <a class="btn btn-primary rounded" href="/Artists/Edit/@Model[i].Id">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>