*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(32, 76, 183), rgb(217, 52, 59));
}

.container-submit {
    padding-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.container-standard {
    padding: 30px;
    border: 4px solid transparent;
    border-image: linear-gradient(to right, rgb(255, 2, 1), rgb(255, 192, 18));
    border-image-slice: 1;
}

.container-success {
    background-color: #3db8ff;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.container-home {
    background-color: white;
    margin: 0 auto;
    position: relative;
    width: 50%;
}

.container-home > h1 {
    text-align: center;
    padding: 5px 0 15px 0;
}

.container-home > h1::before {
    content: "";
    background: inherit;
    position: absolute;
    width: 572px;
    height: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 100px rgba(255,255,255,0.3);
    filter: blur(10px);
}

.container-main {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.container-main > h2 {
    background-color: #313131;
    text-align: center;
    padding: 16px 10px;
}

.add-record-container {
    margin: 20px auto;
    width: 50%;
}

.add-record-btn {
    display: block;
    padding: 16px;
    border-radius: 4px;
    border: 2px solid rgb(255, 55, 94);
    transition: .4s;
}

.add-record-btn:hover {
    background: rgb(255, 55, 94);
    transition: .4s;
}

.img-listing-size {
    width: 40%;
    max-width: 40%;
    object-fit: cover;
}

.record-card {
    padding: 10px;
    border: 4px solid #292929;
}

.author {
    transition: .4s;
}

.author:hover {
    transition: .4s;
}

.container-latest-ablums-main {
    text-align: center;
}

.container-albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.1);
    backdrop-filter: saturate(180%) blur(10px);
}

.container-album {
    flex-basis: auto;
    margin: 0 10px;
    padding: 10px 0;
    max-width: 300px;
}

.container-album:nth-child(1) {
    margin-left: 5.9%;
}

.container-album p {
    word-wrap: break-word
}

.container-album img {
    object-fit: cover;
    width: 250px;
    height: 250px;
}

/*home arrow*/

.center-con {
    border: 2px solid white;
    border-radius: 100%;
    margin-left: 10px;
}

.round {
    position: relative;
    width: 40px;
    height: 40px;
}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

#cta .arrow {
    left: 30%;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 0px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 15px;
}

.segunda {
    margin-left: 8px;
}

.next {
    background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateX(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateX(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.round:hover .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}