@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    color: whitesmoke;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(32, 76, 183), rgb(217, 52, 59));
}

option {
    color: rgb(52, 58, 64);
}

.nav-link-btn {
    text-decoration: none;
    color: rgb(97, 218, 251);
    border: 2px solid rgb(97, 218, 251);
    border-radius: 4px;
    padding: 10px 20px;
    background: inherit;
    margin: 0 8px;
}

.nav-link-btn:hover {
    text-decoration: none;
    background: rgb(97, 218, 251);
    color: #292929;
    transition: .4s;
}

.container-submit {
    padding-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.container-standard {
    padding: 30px;
    border: 4px solid #292929;
    border-radius: 10px;
}

.container-success {
    color: whitesmoke;
    background-color: #3db8ff;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.highlight-color-lightblue {
    color: #40a9ff;
    font-size: 1em;
}

.highlight-color-lightgreen {
    color: #6effb4;
    font-size: 1em;
}

.highlight-color-lightpink {
    color: #ff3686;
    font-size: 1em;
}

.container-home {
    margin: 0 auto;
    text-align: center;
    width: 50%;
}

.container-home > p {
    padding: 10px 0;
}

.container-main {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.container-main > p {
    padding: 16px 10px;
}

.add-record-container {
    margin: 20px auto;
    width: 50%;
}

.add-record-btn {
    font-size: 24px;
    font-weight: 600;
    display: block;
    padding: 20px;
    border: none;
    border-radius: 6px;
    background: #eb4034;
    color: white;
    text-decoration: none;
    transition: .4s;
}

    .add-record-btn:hover {
        color: white;
        text-decoration: none;
        background: #f73693;
        transition: .4s;
    }

.img-listing-size {
    height: 450px;
    width: 350px;
    object-fit: cover;
}

.record-card {
    padding: 10px;
    border: 4px solid #292929;
}

.author {
    text-decoration: none;
    color: rgb(97, 218, 251);
    transition: .4s;
}

    .author:hover {
        text-decoration: none;
        color: rgb(136, 228, 252);
        transition: .4s;
    }